Repository uStudioTeam/brix-ui, pull requests merged in 2020-04, with the labels that each got.

#126 fix(Progress): Replace progress element with div
  packages/ustudio-ui/src/components/Progress/styles/index.js
Labels: hotfix

#127 feat(Slider): Temporarily remove native Slider implementation
  packages/docs-website/components/Layout/Aside.tsx
  packages/docs-website/pages/components/slider.tsx
  packages/ustudio-ui/src/index.d.ts
  packages/ustudio-ui/src/index.js
Labels: documentation, feature, wontfix

#123 Fix(Buttons): Fix button styles
  packages/ustudio-ui/src/components/Button/index.jsx
  packages/ustudio-ui/src/components/Button/styles/inject.js
Labels: hotfix

#128 fix(Grid): Remove filterChildren from Grid's render
  packages/ustudio-ui/src/components/Grid/utils/index.js
Labels: hotfix

#145 feat(Text): change default text alignment to 'inherit'
  packages/docs-website/pages/components/text.tsx
  packages/ustudio-ui/src/components/Text/index.jsx
Labels: component:Text, feature, scope:documentation

#148 feat(Website): add units for number values in props table
  packages/docs-website/pages/components/grid.tsx
  packages/docs-website/pages/components/spinner.tsx
Labels: scope:documentation

#149 feat(Theme): add white and black colors
  packages/docs-website/docs/THEMING.md
  packages/ustudio-ui/src/components/Avatar/styles/inject.js
  packages/ustudio-ui/src/components/Badge/styles/inject.js
  packages/ustudio-ui/src/components/Button/styles/inject.js
  packages/ustudio-ui/src/components/Tag/styles/inject.js
  packages/ustudio-ui/src/theme/ThemeProvider.jsx
  packages/ustudio-ui/src/theme/theme.d.ts
Labels: scope:theme

#150 feat(Text): added "color" prop for Text
  packages/docs-website/pages/components/text.tsx
  packages/ustudio-ui/src/components/Text/index.d.ts
  packages/ustudio-ui/src/components/Text/index.jsx
  packages/ustudio-ui/src/components/Text/stories/index.stories.jsx
  packages/ustudio-ui/src/components/Text/styles/index.js
Labels: component:Text, feature, scope:documentation

#151 feat(Theme): added typing declaration for Theme
  packages/ustudio-ui/src/theme/theme.d.ts
Labels: scope:theme

#152 fix(Website): fix app loader on Components page
  packages/docs-website/pages/_app.tsx
  packages/docs-website/pages/components/index.tsx
Labels: hotfix, scope:website

#146 feat(Flex, Grid): add blocks margins and paddings
  packages/docs-website/pages/components/flex.tsx
  packages/docs-website/pages/components/grid.tsx
  packages/ustudio-ui/src/components/Flex/index.d.ts
  packages/ustudio-ui/src/components/Flex/index.jsx
  packages/ustudio-ui/src/components/Flex/stories/index.stories.jsx
  packages/ustudio-ui/src/components/Flex/styles/index.js
  packages/ustudio-ui/src/components/Grid/Grid/index.d.ts
  packages/ustudio-ui/src/components/Grid/Grid/index.jsx
  packages/ustudio-ui/src/components/Grid/styles/index.js
  packages/ustudio-ui/src/theme/theme.d.ts
  packages/ustudio-ui/src/utils/get-indentations.js
  packages/ustudio-ui/src/utils/prop-types/common.js
  packages/ustudio-ui/src/utils/prop-types/indent.js
  packages/ustudio-ui/src/utils/prop-types/index.js
Labels: component:Flex, component:Grid, scope:components, scope:documentation

#147 feat(Flex, Grid): added "as" prop for Flex and Grid components for render semantic tags
  packages/docs-website/pages/components/flex.tsx
  packages/docs-website/pages/components/grid.tsx
  packages/ustudio-ui/src/components/Checkbox/index.d.ts
  packages/ustudio-ui/src/components/EditableText/index.d.ts
  packages/ustudio-ui/src/components/Flex/index.d.ts
  packages/ustudio-ui/src/components/Flex/index.jsx
  packages/ustudio-ui/src/components/Flex/stories/index.stories.jsx
  packages/ustudio-ui/src/components/Grid/Grid/index.d.ts
  packages/ustudio-ui/src/components/Grid/Grid/index.jsx
  packages/ustudio-ui/src/components/Grid/stories/index.stories.jsx
  packages/ustudio-ui/src/components/Input/FileInput/index.d.ts
  packages/ustudio-ui/src/components/Input/NumberInput/index.d.ts
  packages/ustudio-ui/src/components/Input/TextArea/index.d.ts
  packages/ustudio-ui/src/components/Input/TextInput/index.d.ts
  packages/ustudio-ui/src/components/RadioGroup/index.d.ts
  packages/ustudio-ui/src/components/Select/types.d.ts
  packages/ustudio-ui/src/components/Slider/index.d.ts
  packages/ustudio-ui/src/components/Switch/index.d.ts
  packages/ustudio-ui/src/shared/types/index.d.ts
  packages/ustudio-ui/src/shared/types/input.d.ts
  packages/ustudio-ui/src/shared/types/wrapperTag.d.ts
  packages/ustudio-ui/src/utils/prop-types/common.js
Labels: component:Flex, component:Grid, feature, scope:documentation

#154 fix(Text): Add text align inherit to props
  packages/docs-website/pages/components/text.tsx
  packages/ustudio-ui/src/components/Text/index.d.ts
  packages/ustudio-ui/src/components/Text/index.jsx
Labels: component:Text, scope:components, scope:documentation

#156 Update styled-components, fix Drawer
  packages/ustudio-ui/package.json
  packages/ustudio-ui/src/components/Alert/index.jsx
  packages/ustudio-ui/src/components/Avatar/index.jsx
  packages/ustudio-ui/src/components/Badge/index.jsx
  packages/ustudio-ui/src/components/Button/index.jsx
  packages/ustudio-ui/src/components/Checkbox/index.jsx
  packages/ustudio-ui/src/components/Drawer/index.jsx
  packages/ustudio-ui/src/components/Drawer/styles/inject.js
  packages/ustudio-ui/src/components/Dropdown/index.jsx
  packages/ustudio-ui/src/components/EditableText/index.jsx
  packages/ustudio-ui/src/components/Flex/index.jsx
  packages/ustudio-ui/src/components/Grid/Cell/index.jsx
  packages/ustudio-ui/src/components/Grid/Grid/index.jsx
  packages/ustudio-ui/src/components/Input/BaseInput/index.jsx
  packages/ustudio-ui/src/components/Input/FileInput/index.jsx
  packages/ustudio-ui/src/components/Input/NumberInput/index.jsx
  packages/ustudio-ui/src/components/Input/TextArea/index.jsx
  packages/ustudio-ui/src/components/Input/TextInput/index.jsx
  packages/ustudio-ui/src/components/Meta/index.jsx
  packages/ustudio-ui/src/components/Modal/index.jsx
  packages/ustudio-ui/src/components/Placeholder/index.jsx
  packages/ustudio-ui/src/components/Progress/index.jsx
  packages/ustudio-ui/src/components/RadioGroup/index.jsx
  packages/ustudio-ui/src/components/Select/BaseSelect/index.jsx
  packages/ustudio-ui/src/components/Select/MultiSelect/index.jsx
  packages/ustudio-ui/src/components/Select/Select/index.jsx
  packages/ustudio-ui/src/components/Slider/index.jsx
  packages/ustudio-ui/src/components/Spinner/index.jsx
  packages/ustudio-ui/src/components/Switch/index.jsx
  packages/ustudio-ui/src/components/Tabs/index.jsx
  packages/ustudio-ui/src/components/Tag/index.jsx
  packages/ustudio-ui/src/components/Text/index.jsx
  packages/ustudio-ui/src/components/Tooltip/index.jsx
  packages/ustudio-ui/src/utils/styles/styled-components.js
  yarn.lock
Labels: component:Drawer, hotfix, scope:components

#155 fix(Spinner): fix warning when Spinner unmount change state
  packages/ustudio-ui/src/components/Spinner/index.jsx
  packages/ustudio-ui/src/components/Spinner/stories/index.stories.jsx
  packages/ustudio-ui/src/utils/timeout.js
Labels: component:Spinner, hotfix, scope:components

#158 fix: Fix Drawer z-index in docs
  packages/docs-website/pages/components/drawer.tsx
  packages/ustudio-ui/src/theme/theme.d.ts
Labels: hotfix, scope:documentation, scope:website

#157 feat(Flex): add isWrap prop
  packages/docs-website/pages/components/flex.tsx
  packages/ustudio-ui/src/components/Flex/index.d.ts
  packages/ustudio-ui/src/components/Flex/index.jsx
  packages/ustudio-ui/src/components/Flex/stories/index.stories.jsx
  packages/ustudio-ui/src/components/Flex/styles/index.js
  packages/ustudio-ui/src/components/Flex/styles/inject.js
  yarn.lock
Labels: component:Flex, scope:components, scope:documentation

#159 fix(Modal): fix modal width and add modal footer
  packages/docs-website/pages/components/modal.tsx
  packages/ustudio-ui/src/components/Modal/index.d.ts
  packages/ustudio-ui/src/components/Modal/index.jsx
  packages/ustudio-ui/src/components/Modal/stories/index.stories.jsx
  packages/ustudio-ui/src/components/Modal/styles/index.js
Labels: component: Modal, hotfix, scope:components, scope:documentation

#165 Fix styled components
  packages/docs-website/docs/THEMING.md
  packages/ustudio-ui/src/components/Alert/styles/index.js
  packages/ustudio-ui/src/components/Avatar/styles/index.js
  packages/ustudio-ui/src/components/Badge/styles/index.js
  packages/ustudio-ui/src/components/Button/styles/index.js
  packages/ustudio-ui/src/components/Checkbox/stories/index.stories.jsx
  packages/ustudio-ui/src/components/Checkbox/styles/index.js
  packages/ustudio-ui/src/components/Drawer/styles/index.js
  packages/ustudio-ui/src/components/Dropdown/styles/index.js
  packages/ustudio-ui/src/components/EditableText/styles/index.js
  packages/ustudio-ui/src/components/Flex/styles/index.js
  packages/ustudio-ui/src/components/Grid/styles/index.js
  packages/ustudio-ui/src/components/Input/styles/index.js
  packages/ustudio-ui/src/components/Meta/styles/index.js
  packages/ustudio-ui/src/components/Modal/styles/index.js
  packages/ustudio-ui/src/components/Placeholder/styles/index.js
  packages/ustudio-ui/src/components/Progress/styles/index.js
  packages/ustudio-ui/src/components/RadioGroup/styles/index.js
  packages/ustudio-ui/src/components/Select/styles/index.js
  packages/ustudio-ui/src/components/Slider/index.d.ts
  packages/ustudio-ui/src/components/Slider/index.jsx
  packages/ustudio-ui/src/components/Slider/stories/index.stories.jsx
  packages/ustudio-ui/src/components/Slider/styles/index.js
  packages/ustudio-ui/src/components/Slider/styles/inject.js
  packages/ustudio-ui/src/components/Slider/utils/index.js
  packages/ustudio-ui/src/components/Spinner/styles/index.js
  packages/ustudio-ui/src/components/Switch/styles/index.js
  packages/ustudio-ui/src/components/Tabs/styles/index.js
  packages/ustudio-ui/src/components/Tag/styles/index.js
  packages/ustudio-ui/src/components/Text/styles/index.js
  packages/ustudio-ui/src/components/Tooltip/styles/index.js
  packages/ustudio-ui/src/components/internal/Icon/styled.js
  packages/ustudio-ui/src/utils/index.js
  packages/ustudio-ui/src/utils/styles/sc.js
  packages/ustudio-ui/src/utils/styles/styled-components.js
Labels: hotfix, scope:components, scope:documentation

#167 refactor: Add proper names for non-passable props of styled components
  packages/ustudio-ui/src/components/Dropdown/index.jsx
  packages/ustudio-ui/src/components/Dropdown/styles/index.js
  packages/ustudio-ui/src/components/Flex/index.jsx
  packages/ustudio-ui/src/components/Flex/styles/index.js
  packages/ustudio-ui/src/components/Grid/Grid/index.jsx
  packages/ustudio-ui/src/components/Grid/styles/index.js
  packages/ustudio-ui/src/components/RadioGroup/index.jsx
  packages/ustudio-ui/src/components/RadioGroup/styles/index.js
  packages/ustudio-ui/src/components/Tabs/index.jsx
  packages/ustudio-ui/src/components/Tabs/styles/index.js
  packages/ustudio-ui/src/components/Text/index.jsx
  packages/ustudio-ui/src/components/Text/styles/index.js
Labels: refactor, scope:components

#172 fix: Fix displayName of styled components created by `sc` function
  packages/ustudio-ui/src/utils/styles/sc.js
Labels: hotfix

#169 fix(Button): fix button disable mobile styles
  packages/ustudio-ui/src/components/Button/styles/button.styles.js
Labels: component:Button, hotfix, scope:components

#170 fix(Text, Flex): add html attribute
  packages/ustudio-ui/src/components/Flex/flex.component.jsx
  packages/ustudio-ui/src/components/Flex/flex.types.d.ts
  packages/ustudio-ui/src/components/Text/text.component.jsx
Labels: component:Flex, component:Text, hotfix, scope:components

#174 fix(Website): fix visible link on mobile IOS
  packages/docs-website/pages/components/flex.tsx
Labels: hotfix, scope:website

#171 fix(Documentation): Fix Meta examples alignment on mobile
  packages/docs-website/pages/components/meta.tsx
Labels: hotfix, scope:components, scope:documentation

#173 fix(Select): Fix MultiSelect value container height
  packages/ustudio-ui/src/components/Select/styles/select.styles.js
Labels: component:Select, hotfix, scope:components

#175 fix(Tooltip): fix visible tooltip on mobile device
  packages/ustudio-ui/src/components/Tooltip/styles/tooltip.styles.js
  packages/ustudio-ui/src/components/Tooltip/tooltip.component.jsx
Labels: component:Tooltip, hotfix, scope:components

#176 feat(Documentation): add a note about tree-shaking
  README.md
Labels: enhancement, scope:documentation

#177 fix(Website): added sticky bottom footer
  packages/docs-website/components/Layout/Footer.tsx
  packages/docs-website/components/Layout/styles.ts
  packages/docs-website/pages/index.tsx
Labels: hotfix, scope:website

#182 refactor(Documentation): change imports in docs to default
  packages/docs-website/docs/HOOKS.md
  packages/docs-website/docs/THEMING.md
Labels: refactor, scope:documentation
